# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Environment
.venv/
env/
venv/
ENV/

# IDE / VS Code
.vscode/*
!.vscode/launch.json
.idea/

# OS generated
.DS_Store
Thumbs.db

# Temporary folders
temp_bengaluru_repo/
